
$breakpoints: (
  sp: 768px,
  pc: 1024px,
  wide: 1366px,
  full: 1920px
);

@mixin mq($point, $rule: min) {
  $size: map-get($breakpoints, $point);

  @if $size {
    @media screen and (#{$rule}-width: $size) {
      @content;
    }
  }
}