// メディアクエリファイル

$breakpoints: (
  pc-l: "(min-width:1921px)",
  pc-m: "(max-width:1920px)",
  pc: "(max-width:1366px)",
  tb: "(max-width:1024px)",
  sp: "(max-width:899px)",
  sp-b: "(max-height:500px)",
  sp-mini: "(max-width:480px)",
);
@mixin media($breakpoint) {
  @media #{map-get($breakpoints,$breakpoint)} {
    @content;
  }
}
// 呼び出し方：@include media(sp){}
