*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  line-height: 1.6;
  letter-spacing: 0.02em;
}
img {
  display: block;
  max-width: 100%;
}
//フォーム系はフォントを継承（見た目の統一）
input,
button,
textarea,
select {
  font-family: inherit;
}
