@use "base/reset";
@use "base/variables";
@use "base/mixin";
@use "base/base";

@use "components/header";
@use "components/footer";

@use "pages/index";
@use "pages/privacy-policy";

// 管理バー非表示
// #wpadminbar {
//   display: none !important;
// }
html {
  scroll-behavior: smooth;
}
