@use "../base/mixin" as *;
.site-footer {
  background-image: url("../images/washi.webp");
  background-size: 500px 500px;
  background-repeat: repeat;
  background-position: top left;
  padding: 3rem 0;
  .footer__inner {
    .footer__nav {
      margin: 0;
      padding: 1rem 0;
      text-align: center;
      li {
        display: inline-block;
        margin: 0.5rem 2rem;
        font-size: 1.2rem;
        a {
          color: inherit;
          text-decoration: none;
          transition: opacity 0.5s ease;
          &:hover {
            opacity: 0.5;
          }
        }
      }
    }
    .footer__copy {
      text-align: center;
      font-size: 0.8em;
      margin: 0;
      padding: 1rem 0;
    }
  }
}
