@use "../base/mixin" as *;

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 99;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px); /* 背景をぼかしてガラス感 */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.4);
  .site-header__inner {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .site-header__logo-link {
      display: flex;
      align-items: center;
      .site-header__logo-image {
        height: 35px;
        padding-right: 0.5rem;
      }
      .site-header__logo-title {
        display: inline-block;
        font-size: 20px;
        text-shadow: 1px 1px 2px #333;
        font-weight: 700 !important;
        color: #fff;
      }
    }
  }
  .site-header__main-nav {
    @include media(sp){
            position: fixed;
      top: 60px;
      right: 0;
      width: 70%;
      height: calc(100% - 60px);
      background: rgba(255, 255, 255, 0.5);
      transform: translateX(100%);
      transition: transform 0.3s ease;
    }
          &.open {
      @include media(sp){
        transform: translateX(0);
      }
    }
    ul {
      display: flex;
      gap: 20px;
      list-style: none;
      margin: 0;
      padding: 0;
      font-size: 1.3rem;
      color: #111;
      @include media(sp){
        flex-direction: column;
        padding: 40px 20px;
      }
      a {
        text-decoration: none;
      }
    }
    .site-header__hamburger {
      display: none;
      flex-direction: column;
      gap: 5px;
      @include media(sp){
        display: flex;
      }
      cursor: pointer;
      width: 30px;
      span {
        display: block;
        height: 3px;
        background: #fff;
        border-radius: 2px;
      }
      @include media(sp) {
        display: flex;
      }
    }
  }
}
