@use "../base/variables" as *;
.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-height;
  background-color: $bg-color;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1) !important;
  z-index: 999;

  .container {
    max-width: $max-width;
    margin: 0 auto;
    padding: 0 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    a {
      font-size: 20px;
      text-decoration: none;
      color: $main-color;
    }
  }

  .hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    background: none;
    border: none;
    cursor: pointer;

    span {
      display: block;
      width: 25px;
      height: 2px;
      background: $main-color;
    }
  }

  .main-nav {
    ul {
      display: flex;
      gap: 20px;
      list-style: none;
      margin: 0;
      padding: 0;

      a {
        text-decoration: none;
        color: $main-color;
      }
    }
  }

  // レスポンシブ
  @media (max-width: 768px) {
    .hamburger {
      display: flex;
    }

    .main-nav {
      position: fixed;
      top: $header-height;
      right: 0;
      width: 70%;
      height: calc(100% - #{$header-height});
      background: $bg-color;
      transform: translateX(100%);
      transition: transform 0.3s ease;

      &.open {
        transform: translateX(0);
      }

      ul {
        flex-direction: column;
        padding: 40px 20px;
      }
    }
  }
}
