.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1) ;
  z-index: 99;
  font-family: 'Playfair Display', serif;

  .container {
    max-width:1200px;
    margin: 0 auto;
    padding: 0 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    a {
      font-size: 20px;
      text-decoration: none;
      color: #333;
      display: flex;
    }
  }

  .hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    background: none;
    border: none;
    cursor: pointer;

    span {
      display: block;
      width: 25px;
      height: 2px;
      background:#333;
    }
  }

  .main-nav {
    ul {
      display: flex;
      gap: 20px;
      list-style: none;
      margin: 0;
      padding: 0;

      a {
        text-decoration: none;
        color:#333;
      }
    }
  }

  // レスポンシブ
  @media (max-width: 768px) {
    .hamburger {
      display: flex;
    }

    .main-nav {
      position: fixed;
      top: 60px;
      right: 0;
      width: 70%;
      height: calc(100% - 60px);
      background: rgba(255, 255, 255, 0.5);
      transform: translateX(100%);
      transition: transform 0.3s ease;

      &.open {
        transform: translateX(0);
      }

      ul {
        flex-direction: column;
        padding: 40px 20px;
      }
    }
  }
}