.mainvisual {
background-image:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('../images/mainvisual-autumnleaves.webp');
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
    display: flex;
  align-items: center; 
  justify-content: center; 
  @media screen and (max-width: 768px) {
    height: 100dvh;
    position: absolute;
  }
  .mainvisual-title {
    color: #ddd;
    font-size: 128px;
    text-align: center;
    font-family: 'Playfair Display', serif;
    letter-spacing: 0.2em;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000;
      @media screen and (max-width: 768px) {
    font-size:40px;
  }
  }
}
