.mainvisual {
  background-image: linear-gradient(
      to bottom,
      rgba(0,0,0,0.5)30%,
      rgba(0, 0, 0, 0.5) 60%,   /* 上は透明 */
      rgba(54, 86, 60, 1) 100% /* 下に行くほど深緑っぽく */
    ),
    url("../images/mainvisual-autumnleaves.webp");
  width: 100%;
  height: 120vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  @media screen and (max-width: 768px) {
    height: 100dvh;
    // position: absolute;
  }
  .title-wrap {
    text-align: center;
    transform: translateY(-30%);
    .mainvisual-title,
    .mainvisual-subtitle {
      color: #ddd;
      font-size: 128px;
      font-family: "Playfair Display", serif;
      letter-spacing: 0.2em;
      font-weight: bold;
      text-shadow: 0 0 12px rgba(0, 0, 0, 0.75);
      @media screen and (max-width: 768px) {
        font-size: 50px;
      }
    }
    .mainvisual-subtitle {
      font-size: 60px;
      letter-spacing: 0.05em;
      white-space: nowrap;
      @media screen and (max-width: 768px) {
        font-size: 25px;
      }
    }
  }
}
.works-section {
  background-color: #36563c;
background-image: url("https://www.transparenttextures.com/patterns/arches.png");
margin-top: -0.8px;
  .works-contents {
    width: 70%;
    margin: 0 auto;
    padding: 5rem 0;
    .works-title {
      color: #ddd;
      font-family: "Playfair Display", serif;
      font-size: 36px;
      margin-bottom:3rem;
    }
    .work-image{
      display: flex;
      justify-content:space-around;
      width:100%;
      align-items: center;
      @media screen and (max-width:768px){
        flex-direction: column;
      }
      .work-image-mywork{
          width: 700px;
          height:fit-content;
          @media screen and (max-width:768px){
            height: auto;
            margin-bottom: 2rem;
            }
          }
      }
      .work-image-mywork-sp{
        width: 200px;
        height: fit-content;
                @media screen and (max-width:768px){
            width: 100px;
            }
      }
    }
  }

.fade-zoom {
  position: relative;
  overflow: hidden;
}

.fade-zoom img {
  display: block;
  width: 100%;
  height: auto;
  transform: scale(1);
  animation: fadeZoom 8s ease-in-out forwards;
}

.fade-zoom::before {
  content: "";
  position: absolute;
  inset: 0;
  background: #000;
  opacity: 0.8;
  animation: fadeOverlay 2s ease forwards;
  z-index: 100;
}

/* 画像のフェード＋ズーム */
@keyframes fadeZoom {
  0% {
    opacity: 0.8;
    transform: scale(1);
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: scale(1.05);
  }
}

/* 黒レイヤーが消えていく */
@keyframes fadeOverlay {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
