@use "../base/variables" as *;
@use "../base/mixin" as *;

// ローディング
#loading {
  width: 100vw;
  height: 100vh;
  background-color: #000;
  transition: all 1s;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
@keyframes sk-scaleout {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
.loaded {
  opacity: 0;
  visibility: hidden;
}

// メインビジュアル
.hero {
  position: relative;
  min-height: 100vh;
  display: grid;
  place-items: center;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.2) 30%,
      rgba(0, 0, 0, 0.2) 70%,
      rgba(220, 231, 232) 100%
    ),
    url("../images/hero.webp") center/cover no-repeat;
  z-index: 0;
  // 麻の葉模様
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url("../images/hemp-leaf.webp") repeat;
    background-size: 800px;
    opacity: 0.2;
    z-index: 1;
    @include media(sp) {
      background-size: 500px;
    }
  }
  .hero__inner {
    @include media(sp-b) {
      margin-top: 7rem;
    }
    // タイトル"Portfolio"
    .hero__title {
      color: #ccc;
      letter-spacing: 0.1em;
      font-size: 6rem;
      text-shadow: 2px 2px 2px #111;
      text-align: center;
      margin: 0;
      text-transform: uppercase;
      z-index: 2;
      position: relative;

      @media (min-width: 1367px) and (max-width: 1919px) {
        font-size: 5rem;
      }
      @include media(pc) {
        font-size: 4rem;
      }
      @include media(sp) {
        font-size: 3rem;
        letter-spacing: 0;
      }
      @media (max-width: 540px) {
        font-size: 1.5rem;
      }
      @include media(sp-b) {
        font-size: 2.5rem;
      }
      // 文字のアニメーション
      .char {
        display: inline-block;
        opacity: 0;
        transition: opacity 0.6s cubic-bezier(0.77, 0, 0.175, 1);
        transition-delay: calc(0.05s * var(--char-index));
        margin-right: 0.2em;
      }
      &.is-active .char {
        opacity: 1;
      }
    }
  }
  // サブタイトル"by Web Coder Okawa"
  &__subtitle {
    color: #ccc;
    font-size: 3.5rem;
    letter-spacing: 0.05em;
    text-align: center;
    margin-top: 0.5rem;
    white-space: nowrap;
    z-index: 2;
    position: relative;
    @include media(pc) {
      font-size: 2.5rem;
      letter-spacing: 0;
    }
    @include media(sp) {
      font-size: 2rem;
      letter-spacing: 0;
    }
    @media (max-width: 540px) {
      font-size: 1rem;
    }
    @include media(sp-b) {
      font-size: 1.5rem;
    }
    // 文字のアニメーション
    .char {
      display: inline-block;
      opacity: 0;
      transition: opacity 0.6s cubic-bezier(0.77, 0, 0.175, 1);
      transition-delay: calc(0.05s * var(--char-index));
      margin-right: 0.05em;
    }

    &.is-active .char {
      opacity: 1;
    }
  }
  // 墨跡
  .hero__brush-image {
    position: absolute;
    top: 20%;
    left: 40%;
    transform: translate(-50%, -20%);
    z-index: 1;
    opacity: 1;
    height: 560px;
    position: block;
    @media (min-width: 1920px) {
      top: 30%;
    }
    @media (min-width: 1536px) and (max-width: 1919px) {
      top: 25%;
    }
    @include media(pc) {
      display: none;
    }
    @include media(pc-l) {
      top: 35%;
    }
  }
  // 墨跡(1366px以下)
  .hero__brush-image--sp {
    display: none;
    @include media(pc) {
      display: block;
      position: absolute;
      top: 34%;
      left: 35%;
      transform: translate(-50%, -20%);
      z-index: 1;
      opacity: 1;
      height: 300px;
    }
    @include media(tb) {
      top: 36%;
    }
    @include media(sp) {
      top: 42%;
      height: 240px;
      left: 39%;
    }
    @include media(sp-mini) {
      top: 43%;
      left: 37%;
      height: 160px;
    }
  }
}

.section {
  padding: 5rem 0;
  color: $color-ink;
  @include media(sp) {
    padding: 3rem 0;
  }
  &--texture {
    background-image: url("../images/washi.webp");
    background-size: 500px 500px;
    background-repeat: repeat;
    background-position: top left;
  }
  .container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 16px;
    @include media(pc-l) {
      max-width: 1900px;
    }
    .section__head {
      display: flex;
      align-items: baseline;
      gap: 1rem;
      margin-bottom: 5rem;
      justify-content: center;
      position: relative;
      z-index: 1;
      @include media(sp) {
        margin-bottom: 2rem;
      }
      .section__title {
        font-size: clamp(1.75rem, 4vw, 3.125rem); /* 28–50px */
        margin: 0;
        font-weight: 700;
        font-family: "Shippori Mincho";
      }
      .section__subtitle {
        font-size: clamp(0.875rem, 2vw, 1.5rem); /* 14–24px */
        margin: 0 0 1rem;
      }
    }
    // 作品セクション
    .works {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
      gap: 2rem;
      padding: 0 5%;
      position: relative;
      @include media(sp) {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      }
            // バックグラウンドテキスト
      &::before {
        content: "WORKS";
        font-family: "Playfair Display", serif;
        font-weight: 400;
        letter-spacing: 20px;
        font-size: 260px;
        color: #ccc;
        position: absolute;
        top: -150px;
        left: -248px;
        line-height: 1;
        z-index: 0;
        @include media(pc-m) {
          font-size: 160px;
          left: -72px;
        }
        @include media(pc) {
          font-size: 120px;
          left: -7px;
        }
        @include media(tb) {
          font-size: 80px;
        }
      }
      .works__item {
        display: block;
        height: fit-content;
        a {
          transition: opacity 0.5s ease;
          &:hover {
            opacity: 0.5;
          }
          .works__image {
            width: 500px;
            height: auto;
            @include media(sp) {
              // margin-right: 3rem;
              width: 80%;
              margin: 0 auto;
            }
          }
        }
        .works__info {
          margin-top: 2rem;
          margin-left: 2rem;
          @include media(sp) {
            margin-left: 1rem;
          }
          strong {
            font-weight: 700;
            font-size: 1.2em;
          }
        }
      }
    }
    // 技術セクション
    .skill-section {
      padding: 80px 20px;
      display: flex;
      justify-content: center;
      margin-top: -3rem;
      position: relative;
      @include media(sp) {
        padding: 80px 20px 0;
        margin-top: -2rem;
      }
      // バックグラウンドテキスト
      &::before {
        content: "SKILLS";
        font-family: "Playfair Display", serif;
        font-weight: 400;
        letter-spacing: 20px;
        font-size: 260px;
        color: #ccc;
        position: absolute;
        top: -150px;
        right: -248px;
        line-height: 1;
        z-index: 0;
        @include media(pc-m) {
          font-size: 160px;
          right: -72px;
        }
        @include media(pc) {
          font-size: 120px;
          right: -7px;
        }
        @include media(tb) {
          font-size: 80px;
        }
        @include media(sp-mini) {
          right: -27px;
        }
      }
      &__inner {
        display: flex;
        align-items: center;
        gap: 80px;
        max-width: 900px;
        width: 100%;
      }
    }
    .skill-tree {
      display: flex;
      align-items: center;
      gap: 60px;
      width: 100%;
      @include media(sp) {
        flex-direction: column;
      }

      &__wrapper {
        position: relative;
        width: 350px;
        height: 350px;
        @include media(sp) {
          width: 240px;
          height: 210px;
        }
      }
      &__branches {
        position: absolute;
        inset: 0;
        list-style: none;
        margin: 0 0 0 5rem;
        padding: 0;
        width: 100%;
        height: 100%;
        @include media(sp) {
          margin: 0;
        }
      }

      &__item {
        position: absolute;
        width: 90px;
        height: 90px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 13px;
        text-align: center;
        cursor: pointer;
        transition: transform 0.3s ease, background 0.3s ease,
          box-shadow 0.3s ease;
        @include media(sp) {
          width: 70px;
          height: 70px;
        }
        // 波紋アニメーション
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border: 2px solid #aaa;
          border-radius: 50%;
          opacity: 0;
          transform: scale(1);
          animation: circleBorder 4s infinite;
        }
        &:nth-child(1)::before {
          border-color: #e44d26;
        } // HTML
        &:nth-child(2)::before {
          border-color: #673299;
        } // CSS
        &:nth-child(3)::before {
          border-color: #f7df1e;
        } // JS
        &:nth-child(4)::before {
          border-color: #21759c;
        } // WordPress
        &:nth-child(5)::before {
          border-color: #1fcc72;
        } // Figma
        &:nth-child(6)::before {
          border-color: #292e33;
        } // GitHub

        img {
          filter: drop-shadow(0 4px 10px rgba(0, 0, 0, 0.3));
          &:hover {
            transform: scale(1.2);
            transition: transform 0.3s ease;
          }
        }
      }
      // 波紋アニメーション
      @keyframes circleBorder {
        0% {
          opacity: 1;
          transform: scale(1);
        }
        100% {
          opacity: 0;
          transform: scale(1.8);
        }
      }
      /* 円配置（6個） */
      .skill-tree__item:nth-child(1) {
        top: 0%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .skill-tree__item:nth-child(2) {
        top: 25%;
        left: 90%;
        transform: translate(-50%, -50%);
      }
      .skill-tree__item:nth-child(3) {
        top: 75%;
        left: 90%;
        transform: translate(-50%, -50%);
      }
      .skill-tree__item:nth-child(4) {
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .skill-tree__item:nth-child(5) {
        top: 75%;
        left: 10%;
        transform: translate(-50%, -50%);
      }
      .skill-tree__item:nth-child(6) {
        top: 25%;
        left: 10%;
        transform: translate(-50%, -50%);
      }
    }

    /* 説明パネル */
    .skill-info {
      flex-shrink: 0;
      width: 320px;
      min-height: 160px;
      border-radius: 12px;
      padding: 24px;
      opacity: 0;
      transform: translateY(10px);
      transition: all 0.3s ease;
      margin-left: auto;
      @include media(sp) {
        width: 100%;
        margin: 0;
      }
      &.visible {
        opacity: 1;
        transform: translateY(0);
      }

      &__name {
        font-size: 20px;
        font-weight: 700;
        color: #36563c;
        margin-bottom: 8px;
      }

      &__desc {
        font-size: 14px;
        line-height: 1.6;
      }
    }

    @media (max-width: 768px) {
      .skill-section__inner {
        flex-direction: column;
        gap: 40px;
      }
    }
    .skill-qualification {
      @include media(sp) {
        width: 350px;
        margin: 0 auto 1rem;
      }
      .pc-hidden {
        font-size: 1.2em;
        margin-bottom: 0.4em;
        @media (min-width: 900px) {
          display: none;
        }
      }
      .skill-qualification-table {
        width: 500px;
        margin: 3rem auto 0;
        table-layout: fixed;
        @include media(sp) {
          width: 100%;
          margin: 0 auto;
        }
        th {
          width: 20%;
          text-align: left;
          font-size: 1.2em;
        }
        td:nth-child(2) {
          width: 20%;
          @include media(sp) {
            width: 20%;
          }
        }
        td:nth-child(3) {
          width: 60%;
        }
        .mobile-hidden {
          @include media(sp) {
            display: none;
          }
        }
      }
    }
    .about {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 100%;
      margin-bottom: 3rem;
      flex-direction: row-reverse;
      position: relative;
      @include media(pc-l) {
        justify-content: space-evenly;
      }
      @include media(sp) {
        flex-direction: column;
        margin-bottom: 1rem;
      }
      // バックグラウンドテキスト
      &::before {
        content: "ABOUT";
        font-family: "Playfair Display", serif;
        font-weight: 400;
        letter-spacing: 20px;
        font-size: 260px;
        color: #ccc;
        position: absolute;
        top: -150px;
        left: -248px;
        line-height: 1;
        z-index: 0;
        @include media(pc-m) {
          font-size: 160px;
          left: -72px;
        }
        @include media(pc) {
          font-size: 120px;
          left: -7px;
        }
        @include media(tb) {
          font-size: 80px;
        }
      }
      .social-links{
          display: flex;
  gap: 2rem;
  align-items: center;
  margin-top: 1.5rem;
  .social-links__icon{
      width: 32px;
  height: 32px;
  transition: opacity 0.3s ease;
  &:hover{
      opacity: 0.7;
  }
      }
    }
      .about__image {
        width: 30%;
        border-radius: 50%;
        // リング
        outline: 4px solid color-mix(in oklab, #111 10%, transparent);
        outline-offset: 4px;
        @include media(sp) {
          width: 50%;
          margin-bottom: 2rem;
        }
      }
      .about__info {
        width: 50%;
        @include media(sp) {
          width: 90%;
        }
      }
    }
  }
}
