body.privacy-policy {
  background-image: url("../images/washi.webp");
  background-size: 500px 500px;
  background-repeat: repeat;
  background-position: top left;
  .container__privacy-policy{
    max-width: 800px;
    margin: 2rem 0 auto;
    padding: 4rem 2rem;
  }
}
